body,
html {
  font-size: 16px;
  font-family: "Palatino", "Times New Roman", serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
}

.main {
  flex-grow: 1;
}

footer {
  font-weight: bold;
  text-align: center;
  padding: 0.5em 0;
}

input,
select {
  float: right;
}

input[type="number"] {
  outline: none;
  font-size: 16px;
  font-family: "Palatino", "Times New Roman", serif;
  text-align: right;
  width: 60px;
}

select {
  width: 60px;
}

label {
  display: block;
  padding: 0;
}

.mark {
  color: black;
}

.tableWrapper {
  margin-top: 50px;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  text-align: right;
}

th:first-child,
td:first-child {
  text-align: left;
}
